/alpha-numeric/alpha-numeric/target/
/guessnum/nbproject/
/guessnum/Alex Bellos Favourite Number List.ods
/guessnum/Alex Bellos Favourite Number List.csv
/guessnum/.scaffolding_list.tmp
/guessnum/.evosuite/
/guessnum/target/